// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=5000L0kzmnioJuYvgsuFSiQOddn */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #BA0000;	// Main Primary color */
$color-primary-1: #F73838;
$color-primary-2: #E30505;
$color-primary-3: #960000;
$color-primary-4: #6B0000;

$color-secondary-1-0: #BA6E00;	// Main Secondary color (1) */
$color-secondary-1-1: #F7A938;
$color-secondary-1-2: #E38905;
$color-secondary-1-3: #965900;
$color-secondary-1-4: #6B3F00;

$color-secondary-2-0: #6E0279;	// Main Secondary color (2) */
$color-secondary-2-1: #9626A2;
$color-secondary-2-2: #870695;
$color-secondary-2-3: #590162;
$color-secondary-2-4: #3F0046;



// As RGBa codes */

$rgba-primary-0: rgba(186,  0,  0,1);	// Main Primary color */
$rgba-primary-1: rgba(247, 56, 56,1);
$rgba-primary-2: rgba(227,  5,  5,1);
$rgba-primary-3: rgba(150,  0,  0,1);
$rgba-primary-4: rgba(107,  0,  0,1);

$rgba-secondary-1-0: rgba(186,110,  0,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(247,169, 56,1);
$rgba-secondary-1-2: rgba(227,137,  5,1);
$rgba-secondary-1-3: rgba(150, 89,  0,1);
$rgba-secondary-1-4: rgba(107, 63,  0,1);

$rgba-secondary-2-0: rgba(110,  2,121,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(150, 38,162,1);
$rgba-secondary-2-2: rgba(135,  6,149,1);
$rgba-secondary-2-3: rgba( 89,  1, 98,1);
$rgba-secondary-2-4: rgba( 63,  0, 70,1);