// https://paletton.com/#uid=33x1b0kaz4AkANBz0TuI7llg3e-

:root {
	--page-background: #0a0a0a;
	--page-foreground: #f5f5f5;

	--primary-100: #56a0d9;
	--primary-200: #0e8aea;
	--primary-300: #101418;
	--primary-400: #04406d;
	--primary-500: #283b4b;

	--secondary-100: #ea53a9;
	--secondary-200: #f3008a;
	--secondary-300: #1d1419;
	--secondary-400: #88004d;
	--secondary-500: #5d2e49;

	--tertiary-100: #ffff5b;
	--tertiary-200: #ffff00;
	--tertiary-300: #252518;
	--tertiary-400: #aaaa00;
	--tertiary-500: #74743a;
}
