@mixin zen-dots {
	font-family: "Zen Dots", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin roboto($weight) {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: $weight;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
